bidict==0.22.1
Django==5.1
neomodel==5.3.3
django_neomodel==0.2.0
gunicorn==21.2.0	
whitenoise==6.6.0
django-bootstrap5==23.3
django-heroku
django-allauth[socialaccount]
bidict
dj-stripe
stripe>=4.0.0,<5.0.0
django-crispy-forms
git+https://github.com/django-crispy-forms/crispy-bootstrap5.git@main#egg=crispy-bootstrap5
stringcase
django_extensions
lark













